USE [master]
GO
/****** Object:  Database [MyStartup]    Script Date: 12/21/2017 5:16:45 PM ******/
CREATE DATABASE [MyStartup]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyStartup', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.PUBLISHER\MSSQL\DATA\MyStartup.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyStartup_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.PUBLISHER\MSSQL\DATA\MyStartup_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyStartup].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyStartup]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/21/2017 5:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FirstName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 12/21/2017 5:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertUser]   
    @FirstName nvarchar(255)   
AS   

INSERT INTO [dbo].[Users]
           ([FirstName])
     VALUES
           (@FirstName)


    
    

GO
USE [master]
GO
